include ../includes/variables

doctype html
html(lang=lang)
  head
    meta(charset=charset)
    title=title
    meta(name='description', content=description)
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory

    // Add to homescreen
    link(rel='manifest', href='manifest.json')

    // Fallback to homescreen for Chrome <39 on Android
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='application-name', content=title)
    link(rel='icon', sizes='192x192', href='images/touch/chrome-touch-icon-192x192.png')

    // Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content=title)
    link(rel='apple-touch-icon', href='images/touch/apple-touch-icon.png')

    // Tile icon for Win8 (144x144 + tile color)
    meta(name='msapplication-TileImage', content='images/touch/ms-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileColor', content=theme_color)

    // Theme color for Chrome 39+ on Android 5.0
    // http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    meta(name='theme-color', content=theme_color)

    // SEO: If your mobile URL is different from the desktop URL,
    // add a canonical link to the desktop page
    // https://developers.google.com/webmasters/smartphone-sites/feature-phones
    // <link rel="canonical" href="http://www.example.com/">

    // build:css /styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css /styles/main.css
    link(rel='stylesheet', href='/styles/main.css')
    // endbuild

    // build:js /bower_components/webcomponentsjs/webcomponents.min.js
    script(src='/bower_components/webcomponentsjs/webcomponents.js')
    // endbuild

    // replace /elements/elements.vulcanized.html
    link(rel='import', href='/elements/elements.html')
    // endreplace

  body(class=theme unresolved)
    
    block content

    // build:js /scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    // build:js /scripts/app.js
    script(src='/scripts/app.js')
    // endbuild
